/*Calculator project stylesheet*/
*{margin: 0; padding:0;}
html{
  background-image: url(https://lh3.googleusercontent.com/5ke320uEKR_YDXbt-VDy-U1PkekWHshR76m-ej5ZIy1auTn0_2sBKc0bMIgoqf-60gvVTljlEMhJwu6lUrUjBr4ifNoO7I0lxFBeuoqz2294Ls3pHYGWwCZ0jaAM9Wzv0LqRdOq_9DKKJtLfuEgTiffKP-bu6sKAAQetGQ1aOzt0PggNTV6sAMeIR92dQU4SZZE4J94pU4OykUx0tdKzONsnRR5oa_xkd_WvC_S5HEaEpctLUYtJA6yhfnjuWNv4Libqaa8nDhWCqSqeXufVAmg1GJyTAnil_oqjS0zSw11EWlEIhYte5cAqrylZank-QkZW68y10eCf5iDYR-YlP_o8LwhnNefwIpGH_M7GQsOPUIPVP_90a3fch_-jAvFh0ejsn17dv3ThKzNwzgPaYLRpME09JrbpBu4B2BSKIH8u17f2jpm9Va3zx6fXpEGcSZupdy2VerMQjqUd7LNn7b4bXLyPTEj1HNzAlvf2Ub4ZFEYfme7zVc10Ykf2I9-sInWHFj-g2GorNEz6eot8zOwb2a5N61uQ8tnBs_XBjLx8Q7OmB9u63_QQLqpKglBXFxybB67uQQQ0YDV8YoYlxwTct3cxJmiHDeHuSPm2UX-bFkkd7L5aYJ-cDCgxR4mic8U-5KlLF3fA-zASa77Q_-7UGA79SqFdCCs8myhAVvo8diKGIP9P143etuIE=w1043-h695-no?authuser=0);
}
body{
  font-family: monospace;
  display: grid;
  place-items: center;
}
.header-slab{
  background-color: black;
  width: 100vw;
  color: white;
  font-weight: 300;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
}
#history{
  overflow: hidden;
}
#results{
  overflow: hidden;
}
main{
  height:600px;
  width:330px;
  background-color: #7b7a7947;
  padding: 1%;
  margin: 0 5%;
  margin-top: 1%;
  border-radius: 0.4rem;
  position: relative;
}
.display{
  width: 96%;
  height:15%;
  background: white;
  margin: 2% auto;
  border-radius: 0.4rem 0;
  position: relative;
}
#history{
  text-align: right;
  height: 40%;
  font-size: 1.2rem;
  position: relative;
  padding-right: 2%;
}
#history p{
  padding-top: 2%;
}
#results{
  text-align: right;
  height: 60%;
  font-size: 2.4rem;
  padding-right: 2%;
}
.keyboard{
  width: 96%;
  height:80%;
  margin: 2% auto;
  border-radius: 0.4rem 0;
  position: relative;
}
.keyboard{
  display: flex;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}
.button-box{
  min-height: 95px;
  min-width: 79px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.button-box:nth-child(4n){
  min-width: 78px;
  border-left: 1px black solid;
}
.button-box:nth-child(18){
  min-width: 78px;
  border-left: 1px black solid;
}
.zero{
  min-width: 237px;
}
button[type="button"]{
  outline: none;
  border: none;
  background: #cfd3ce;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px 1px lightgrey;
  border-radius: 50%;
  font-size: 1.2rem;
}
.button-box:hover{
  transition: all 0.5s ease-in-out;
  background-image: radial-gradient( #30475e82, #e8e8e8);
}
button[type="button"]:hover{
  background: #839b97;
  box-shadow: 1px 1px 10px 1px #34626c;
  font-size: 1.1rem;
}
#all-clear{
  color: red;
}
