/*Calculator project stylesheet*/
*{margin: 0; padding:0;}
html{

}
body{
  font-family: monospace;
  display: grid;
  place-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2020/12/09/17/18/letters-5818033_960_720.jpg);
  background-size: cover;
}
.header-slab{
  background-color: black;
  width: 100vw;
  color: white;
  font-weight: 300;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
}
#history{
  overflow: hidden;
}
#results{
  overflow: hidden;
}
main{
  height:600px;
  width:330px;
  background-color: #839b97;
  padding: 1%;
  margin-top: 1%;
  border-radius: 0.4rem;
  position: relative;
}
.display{
  width: 96%;
  height:15%;
  background: white;
  margin: 2% auto;
  border-radius: 0.6rem 0;
  position: relative;
}
#history{
  text-align: right;
  height: 40%;
  font-size: 1.2rem;
  position: relative;
  padding-right: 2%;
}
#history p{
  padding-top: 2%;
}
#results{
  text-align: right;
  height: 60%;
  font-size: 2.4rem;
  padding-right: 2%;
}
.keyboard{
  width: 96%;
  height:80%;
  margin: 2% auto;
  border-radius: 0.6rem 0;
  position: relative;
}
.keyboard{
  display: flex;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}
.button-box{
  min-height: 95px;
  min-width: 79px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.button-box:nth-child(4n){
  min-width: 78px;
  border-left: 1px black solid;
}
.button-box:nth-child(18){
  min-width: 78px;
  border-left: 1px black solid;
}
.zero{
  min-width: 237px;
}
button[type="button"]{
  outline: none;
  border: none;
  background: #cfd3ce;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px 1px lightgrey;
  border-radius: 50%;
  font-size: 1.2rem;
}
.button-box:hover{
  transition: all 0.5s ease-in-out;
  background-image: radial-gradient( #30475e82, #e8e8e8);
}
button[type="button"]:hover{
  background: #839b97;
  box-shadow: 1px 1px 10px 1px #34626c;
  font-size: 1.1rem;
}
#all-clear{
  color: red;
}
